body, p, td {
	font-family: arial, verdana, trebuchet ms;
	font-size: 10pt;
	color: #000000;
}
h1 {
	font-family: arial, trebuchet ms, verdana;
	font-size: 20pt;
	color: #000000;
	font-weight: bold;
}
h2 {
	font-family: arial, trebuchet ms, verdana;
	font-size: 16pt;
	color: #000000;
	font-weight: bold;
}
h3 {
	font-family: arial, trebuchet ms, verdana;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
}
h4 {
	font-family: arial, trebuchet ms, verdana;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
}
li {
	font-family: arial, verdana, trebuchet ms;
	font-size: 10pt;
	color: #000000;
}
dt {
	font-family: arial, trebuchet ms, verdana;
	font-size: 10pt;
	color: #000000;
	margin: 3px;
	margin-top: 10px;
	font-weight: bold;
}
blockquote, pre {
	font-family: courier new, trebuchet ms;
	font-size: 10pt;
	color: #000000;
	background-color: #eeeeee;
	margin: 0px;
	padding: 5px;
}
p.nb, p.para, p.membervars {
	margin-left: 20px;
}
a:link {
	color:#0000ff;
}
a:visited {
	color:#660099;
}
a:active {
	color:#990000;
}
hr {
	color: #000000;
}
p.quote {
	font-style: italic;
	background-color: #eeeeee;
	padding: 10px;
}
tr.diff_add {
	background-color: #ccffcc;
}
tr.diff_minus {
	background-color: #ffcccc;
}
div.preview {
	background-color: #eeeeee;
	padding: 5px;
}
div.annotation {
	background-color: #eeeeee;
	padding: 5px;
}
pre.code {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}
a.annotate, a.faq {
	text-decoration: none;
	color: #ff0000;
	background-color: #ffff00;
}
tr.row_odd {
	background-color: #eeeeee;
}
tr.row_even {
	background-color: #f9f9f9;
}