<html>
<head>
<title><?= trans("Welcome") ?></title>
</head>
<body bgcolor="#FFFFFF">
<h1 align=center><?= trans("Log In!") ?></h1>
<?php global $Error, $User, $Pass;
if ($Error) { ?>
<table align=center bgcolor="#FFDDDD">
<tr><td align=center><?= trans("$Error"); ?></td></tr>
</table>
<?php } ?>
<form method=post action="<?= getUrl('Action', 'login') ?>">
<table align=center border=1>
<tr><th align=right><?= trans("Name:") ?></th>
<td><input type=text name=User value="<?= urlencode($User) ?>"></td></tr>
<tr><th align=right><?= trans("Pass:") ?></th>
<td><input type=password name=Pass value="<?= urlencode($Pass) ?>"></td></tr>
<tr><td colspan=2 align=center>
<input type=submit value="<?= trans("Login") ?>"></td></tr>
</table>
</form>
<hr width="90%">
<p><?= trans("To access this site, use 'demo' as the username and the password.") ?></p>
</body>
</head>
