body {
    background-image: url(images/sqm-blue.gif);
    font-size: 10pt;
}
#locationmenu a,
#locationmenu {
    padding: 5px 2px;
}
#locationmenu a,
#debug_output,
#content {
    background-image: none;
}
