body {
    background-image: url(images/sqm-blue.gif);
    font-size: 10pt;
    font-weight: normal;
}
#locationmenu a,
#debug_output,
#content {
    background-image: none;
}
#locationmenu a,
#locationmenu {
    padding: 5px 2px;
}
.newsupdate,
#copyright,
#contentupdate,
#flagline {
    font-size: x-small;
}
