body {
    margin: 0px;
}
#sitetitle,
#usermenu,
#debug_output,
#content {
    margin: 0px 5px 5px 175px;
}
#content {
    min-height: 350px;
}
#copyright {
    margin: 10px 0px;
    padding: 0px 5px;
}
#subsitetitle {
    margin: 2px; 
}
#editmenu {
    margin: 5px 0px;
}
#locationmenu {
    float: left;
    min-width: 180px;
    padding: 0px;
}
#locationmenu a {
    display: block; 
    padding: 5px; 
    margin: 5px 0px;
    border-width: 0; 
}
#textile {
    float: right;
    width: 160px;
}
#textileform {
    margin-right: 150px;
}
