/** SIZE */
#sitetitle {
    font-size: xx-large;
}
h1 {
    font-size: x-large;
}
.index,
.formlinks,
.newsupdate,
.subtext,
#copyright,
#status,
#editmenu,
#flagline,
#contentupdate {
    font-size: small;
}

dt,
.index a {
	font-weight: bold;
}
.newsupdate {
	font-weight: normal;
}

/** text alignment */

.heading,
.value {
    text-align: left;
}

h1,
.index,
.form_submit,
.formlinks,
#status,
#copyright,
#subsitetitle {
    text-align: center;
}

.label {
    text-align: right;
}

/** PADDING / MARGINS */
#content {
    padding-bottom: 10px;
}
.formlinks,
#sitetitle {
    padding: 10px 5px;
}
#flagline {
    margin: 0px;
    padding: 0px;
}
#copyright {
    margin-top: 10px;
    margin-bottom: 20px;
    clear: both;
}
#textile,
#usermenu {
    padding: 2px;
}
.heading,
.label {
    padding: 0px 5px;
}

/** Classes for floating to one side or the other */
.float-right,
.newsupdate,
#contentupdate,
#flagline {
    float: right;
}
.float-clear {
    clear: both;
}

/** Attributes for index characters used by siteindex */
.index {
	color: gray;
}
.indexitem {
	margin: 0px 20px;
}

/** Attributes for status */
#status .error {
	color: #933;	
}
#status .ok {
	color: #063;
}

/** form attributes */
form { 
	white-space: nowrap; 
	display: inline;
	text-align: center;
}
select,
textarea,
input {
	font-family: "Courier New", courier, monospace;
    background-color: #F0F0F0;
}
.smdoc_textarea {
	width: 95%;
}
.formlinks a {
    display: block; 
}
