/*
 * Modified by SquirrelMail Development Team
 * $Id$
 */
body {
    color: #333333; 
    margin: 0px;
    padding: 0px;
    font-family: verdana, "trebuchet ms", arial; 
}
#pagetitle {
    margin: 0px;
    border-bottom: 1px solid gray;
    background: url(images/squirrelmail-2small.gif) no-repeat top left;
}
#pagetitle .skip {
    width: 151px;
    height: 150px;
}
#pagetitle .usermenu {
    background: url(images/header.gif) no-repeat top left;
    font-size: small;
    text-align: right;
    padding: 2px;
    height: 65px;
    color: #666;
}
#pagetitle .titleblock {
    color: #666;
    font-size: x-large;
    text-align: left;
    padding: 0px 20px;
    margin: 0px;
}
.titleupdate {
    color: #999;
    font-size: small;
    text-align: right;
    padding: 0px 2px;
    vertical-align: bottom;
}
#pagetitle .locationmenu {
    background: #b0c3c6;
    border-top: 1px solid gray;
    padding: 2px;
    font-size: small; 
    color: #666;    
    margin: 0px;
}
#status {
    font-size: small;
    text-align: center;
    border-bottom: 1px dashed gray;
    padding: 2px 5px;
    margin: 0px;
}
#status .error {
    color: #BB0000;    
}
#status .ok {
    color: #00BB00;
}
#content {
    background: white;
    margin: 5px 0px;
    padding: 5px;
}
#editmenu {
    background: #b0c3c6;
    border-top: 1px solid gray;
    padding: 2px;
    margin: 0px;
    font-size: small; 
    color: #666;    
    text-align: center;
}
#copyright {
    background: #7a9294;
    padding: 2px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: #eee;
    font-size: small;
    text-align: center; 
}
#footer {
    color: #666;
    text-align: center;
    font-size: x-small;
}
form { 
    white-space: nowrap; 
    display: inline;
    text-align: center;
}
.smdoc_table {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.separator {
    border-bottom: 1px solid #7a9294;
    margin: 10px 0px;
}
.debug_output {
    font-size: small;
    margin: 0px 5px;
}
.indexitem {
    margin: 0px 20px;
}
h1 {
    font-size: large;
    margin: 5px 0px;
    padding: 0px;
    color: #666; 
    font-weight: bold; 
    text-decoration: none;
    text-align: center;
}
h2 {
    font-size: large;
    margin: 10px 0px 5px 0px;
    color: #7a9294; 
    font-weight: bold; 
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid #7a9294;
}
h3,
.debug_output_heading,
.indexhead {
    margin: 10px 5px 5px 5px;
    padding-right: 5px;
    color: #7a9294; 
    font-weight: bold; 
    text-decoration: none;
    text-align: right;
    font-size: large;
    border-bottom: 1px solid #7a9294;
}
li { 
    padding-bottom: 5px; 
    margin: 0px; 
}
dt { 
    padding: 5px; 
    margin: 0px; 
    font-weight: bold; 
}

blockquote, pre {
	font-family: "courier new", monospace;
	background-color: #eee;
	margin: 0px;
	padding: 5px;
}
a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    outline: none;
    color: #006666;
}
a:hover {
    text-decoration: underline;
    color: gray;
}
.index {
    font-size: small;
    text-align: center;
    color: gray;
}
.index a {
    font-weight: bold;
}
hr { 
    color: #666; 
    height: 1px; 
}
p.quote {
	font-style: italic;
	background-color: #eee;
	padding: 10px;
}
div.preview {
	padding: 5px;
    margin: 10px 0px;
    border: dotted 1px red;
}
div.annotation {
	background-color: #eee;
	padding: 5px;
}
pre.code {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}
a.annotate, a.faq {
	text-decoration: none;
	color: #ff0000;
	background-color: #ffff00;
}
tr.row_odd {
	background-color: #f3f3f3;
}
tr.row_even {
	background-color: #f9f9f9;
}
.diff_add {
	background-color: #ccffcc;
    font-family: monospace;
}
.diff_minus {
	background-color: #ffcccc;
    font-family: monospace;
}
.diff_same {
	background-color: #eee;
    font-family: monospace;
}
td.label {
    padding: 0px 5px;
    text-align: right;
    vertical-align: top;
}
td.value {
    padding: 0px 5px;
    text-align: left;
}
input.error {
	background-color: #ffcccc;
}
.small { 
    font-size: small; 
}
.smalldate { 
    font-family: "courier new", monospace;
    font-size: small; 
}
.xsmall { 
    font-size: x-small; 
}
.super {
    vertical-align: super;
    font-size: small;
}
.subtext,
.subtext_center,
.menu_subtext {
    color: #666;
    font-size: small;
}
.subtext_center {
    text-align: center;
}
.menu_subtext {
    white-space: nowrap;
}

OL.upper_roman {
    list-style-type: upper-roman
}
OL.decimal {
    list-style-type: decimal
}
IMG {
    border: 0px;
}
.nothere {
    height: 1px;
}
