A, B, P, TABLE, SMALL, BODY, TD, OL, UL, MENU, BLOCKQUOTE, DIV {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12;
}
PRE, TT, INPUT, TEXTAREA {
    font-family: Courier,fixed;
    font-size: 11;
}
