TR.H  	    { font-family: sans-serif; font-size: 11pt; BACKGROUND-COLOR: #C3D6E6; }
TD.H  	    { font-family: sans-serif; font-size: 11pt; BACKGROUND-COLOR: #C3D6E6; }
body        { font-family: sans-serif; font-size: 11pt; }  
tt          { font-family: sans-serif; font-size: 11pt }
pre         { font-family: times,monospace; font-size: 11pt }
textarea    { font-family: times,monospace; font-size: 11pt }
input       { font-family: times,monospace; font-size: 11pt }
