/** table attributes */
table.smdoc_table {
	margin: 0px auto 10px auto;
}
th input,
th.label {
    vertical-align: top;
}
tr.separator td,
tr.separator th {
    padding: 15px 0px 5px 0px;
}
td {
	vertical-align: top;
}
tr.row_odd {
	background-color: #fff;
}
tr.row_even {
	background-color: #cce8ff;
}
tr.separator td,
tr.separator th,
tr.separator th a,
tr.separator td a { 
    text-decoration: none; 
    color: #36F;
}
tr.separator th a:hover,
tr.separator td a:hover {
    text-decoration: underline;
}
