/*
 * Modified by SquirrelMail Development Team
 * $Id$
 */

/** 
 * Basic style elements that make up the page:
 * body
 * pagetitle (includes skip-link area for textonly browsing,
 *			usermenu, titleblock, and titleupdate)
 * status (error and ok)
 * content
 * editmenu
 * copyright
 * footer
 */
.darkest { color: #36F; }
.bg-darkest { background-color: #36F; }
.dark    { color: #69F; }
.bg-dark    { background-color: #69F; }
.med     { color: #9CF; }
.bg-med     { background-color: #9CF; }
.light   { color: #cce8ff; }
.bg-light   { background-color: #cce8ff; }

body {
	color: #333; 
    background-color: #9CF;
    background-image: url(images/sqm-blue.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed; 
}
#sitetitle a {
    text-decoration: none;
    color: #36F;
    font-weight: bold;
}
.newsheadline a:hover,
#textile a:hover,
#sitetitle a:hover {
    text-decoration: underline;
}
#locationmenu a,
#debug_output,
#content {
    background-color: #FFF;
    background-image: url(images/sqm-blue-body.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}
#debug_output,
#content {
    border: 1px #69F solid;
}
.bottomline {
    border-bottom: 1px #69F solid;
}
.newsheadline a,
#textile a,
#editmenu a,
#locationmenu a {
    text-decoration: none; 
    color: #36F;
}
#editmenu a:hover,
#locationmenu .special a:hover,
#locationmenu a:hover {
    background-color: #69F;
    color: #FFF;
}
.newsheadline,
#textile,
#locationmenu .special a {
    background-color: #cce8ff;
}
#usermenu {
    background-color: #69F;
    margin-top: 0px;
}
#usermenu a {
    padding: 2px;
    text-decoration: none; 
    color: #FFF;
}
#status,
#usermenu a:hover {
    background-color: #FFF;
    color: #36F;
}
#contentupdate {
    color: gray;
}
#copyright {
    border-top: 1px #69F solid;
}
/*
 * Headings
 */
h1,
h2,
h3 {
    color: #69F;
}
#content h1 a {
    text-decoration: none;
    color: #69F;
}
#content h1 a:hover {
    text-decoration: underline;
}

