/*
 * Printer Friendly stylesheet; contains some overrides for the
 * regular stylesheet. Is used automatically when printing a page.
 *
 * Modified by SquirrelMail Development Team
 * $Id$
 */
body {
    background: none;
}
#usermenu,
#editmenu,
#titleblock,
#flagline,
#usermenu,
#locationmenu {
	display: none;
}
#copyright,
#debug_output,
#contentupdate,
#content {
    border: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
