#sitetitle {
    padding: 10px 5px;
    font-size: xx-large;
}
#copyright,
#subsitetitle {
    text-align: center;
}
#contentupdate {
    text-align: right;
    font-size: small;
}
#flagline {
    font-size: small;
    float: right;
}
#debug_output h1,
#content h1,
#flagline {
    margin: 0px;
    padding: 0px;
}
#copyright {
    margin-top: 5px;
    padding: 0px;
    font-size: small;
    clear: both;
}
#usermenu {
    padding: 2px 2px;
}

h1 {
    font-size: x-large;
}

/** Attributes for index characters used by siteindex */
.index {
	font-size: small;
	text-align: center;
	color: gray;
}
.index a {
	font-weight: bold;
}
.indexitem {
	margin: 0px 20px;
}

/** Classes for floating to one side or the other */
.float-right {
    float: right;
}
