body {
    font-family: Verdana, Symbol, sans-serif;
    font-size: 14px;
    font-size-adjust: .58;
}


/** SIZE */
#sitetitle {
    font-size: xx-large;
}
h1 {
    font-size: x-large;
}
.index,
.formlinks,
.newsupdate,
.subtext,
#copyright,
#status,
#editmenu,
#flagline,
#contentupdate {
    font-size: small;
}

dt,
#locationmenu,
.index a {
	font-weight: bold;
}
.newsupdate {
	font-weight: normal;
}

/** text alignment */

.heading,
.value {
    text-align: left;
}

h1,
.index,
.form_submit,
.formlinks,
#status,
#copyright {
    text-align: center;
}
#flagline,
.label {
    text-align: right;
}

/** PADDING / MARGINS */
#content {
    padding: 0px 5px 10px;
}
#subsitetitle {
    margin: 5px;
}
.formlinks {
    padding: 10px 5px;
}
#flagline {
    margin: 0px;
    padding: 0px;
}
#copyright {
    margin-top: 10px;
    margin-bottom: 20px;
}
#status,
#textile,
#editmenu a,
#usermenu {
    padding: 2px;
}
.heading,
.label {
    padding: 0px 5px;
}

/** Classes for floating to one side or the other */
.float-left {
    float: left;
}
.float-right,
.newsupdate,
#contentupdate,
#flagline {
    float: right;
}
#sitetitle,
.float-clear {
    clear: both;
}
#status,
#usermenu {
    clear: right;
}

/** Attributes for index characters used by siteindex */
.index {
	color: gray;
}
.indexitem {
	margin: 0px 20px;
}

/** Attributes for status */
#status .error {
	color: #933;	
}
#status .ok {
	color: #0C0;
}

/** form attributes */
form { 
	white-space: nowrap; 
	display: inline;
	text-align: center;
}
select,
textarea,
input {
	font-family: "Courier New", courier, monospace;
    background-color: #F0F0F0;
}
.smdoc_textarea {
	width: 95%;
}
.formlinks a {
    display: block; 
}
