TT,PRE,CODE,KBD,INPUT {font-family: "Courier", monospace;  }

.thinbox        { border-width:1pt; border-style:solid; border-color:#666666; }
.thinbox-yellow { border-width:1pt; border-style:solid; border-color:#FFCC00; }
.thinbox-green  { border-width:1pt; border-style:solid; border-color:#00FF00; }
.thinbox-blue   { border-width:1pt; border-style:solid; border-color:#0000FF; }
.thinbox-red    { border-width:1pt; border-style:solid; border-color:#FF0000; }

.ebullient      { color:#666699; }
