.sample         { color:#00FF00; }
.ebullient      { color:#666699; border: 1px solid #DDDDDD;}

.tassium		{ color:#993366; border: 1px solid #FFCCCC;
				  margin: 5px 0px 5px 0px; padding 0px 5px 0px 5px;}

.jangliss       { color:#5A7830; border: 1px solid #4E3996;}
