.sample         { color:#00FF00; }
.ebullient      { color:#666699; border: 1px solid #DDDDDD;}
.tassium		{ color:#993366; border: 1px solid #FFFFCC;}
.jangliss       { color:#5A7830; border: 1px solid #4E3996;}
