A, B, P, 
TABLE, TD, 
SMALL, 
BODY, 
OL, UL, 
MENU, 
BLOCKQUOTE, 
DIV {
	font-family: Helvetica,Arial,sans-serif;
        color:#000;
	background: #FFF;
}

PRE, TT, INPUT, TEXTAREA {
	font-family: Courier,fixed;
}

a:visited {
	color:#BB0000
}

a:link {
	color:#BB0000;
}

a:hover {
	color:#770000;
}
			
